* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

html,
body {
  height: 100vh;
  color: #fff;
  /* font-family: "Josefin Sans", sans-serif; */
  font-size: 14px;
  background-color: rgb(1, 22, 1);
  background-repeat: no-repeat;
}

/* --------------------
     Header Image
  -------------------- */

.header-img {
  width: 265px;
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
}

/* --------------------
        Loader
  -------------------- */

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*  -----------------
        Cards 
---------------------  */

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  cursor: pointer;
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
}

.card h1 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card li {
  list-style: none;
  padding-bottom: 10px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
  transition: transform 0.8s;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: #000;
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
  border-radius: 5px;
  border: 2px solid white;
}

/*  -----------------
        INPUT 
---------------------  */

input {
  background: #f0f0f0;
  padding: 10px;
  border-radius: 7px;
  border: 1.5px solid rgb(0, 0, 0);
  display: block;
  margin: 0 auto;
  padding-right: 200px;
  transition: 0.2s;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
}

input:hover {
  background-color: #e4e4e4;
}
input:focus {
  background-color: white;
  padding-right: 300px;
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

/* --------------------
        Footer
  -------------------- */

footer {
  font-size: 3vh;
  display: flex;
  justify-content: center;
  bottom: 0;
  margin-top: 20px;
  margin-bottom: 0;

}

.material-icons {
  font-size: 3vh;
  color: black;
  animation: pulse 0.53s infinite ease-in-out reverse;
  padding: 2px;
}

@keyframes pulse {
  from {
    transform: scale(0.8);
    color: white;
  }

  to {
    transform: scale(1.1);
    color: rgb(1, 22, 1);
  }
}
